/* Basic styling for the body and container */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.report-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Common styling for all content in the report container */
.report-container h1,
.report-container h2,
.report-container h3,
.report-container p,
.report-container ul {
  margin: 0;
  padding: 0;
  color: #333;
}

.report-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.report-container h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.report-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.report-container p {
  font-size: 16px;
  margin-bottom: 15px;
}

.report-container ul {
  margin-bottom: 15px;
  padding-left: 20px;
}

.report-container li {
  margin-bottom: 10px;
}

.report-container a {
  color: #007bff;
  text-decoration: none;
}

.report-container a:hover {
  text-decoration: underline;
}

/* Buttons */
.show-report-button,
.close-report-button,
.show-additional-recommendations-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-report-button:hover,
.close-report-button:hover,
.show-additional-recommendations-button:hover {
  background-color: #0056b3;
}

/* Table Styling */
.entry-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.entry-table th,
.entry-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.entry-table th {
  background-color: #007bff;
  color: #fff;
}

.entry-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.entry-table tr:hover {
  background-color: #ddd;
}

/* Highlight Entries, Activity Summary, Mood Analysis */
.highlight-entry,
.activity-summary,
.mood-analysis {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.highlight-entry {
  border-left: 5px solid #007bff;
}

/* Additional Recommendations */
.additional-recommendations {
  margin-top: 20px;
}

.recommendations-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recommendation-item {
  flex: 1 1 calc(50% - 20px);
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recommendation-image {
  width: 50%; /* Adjusted width */
  border-radius: 8px;
  display: block;
  margin: 0 auto; /* Center the image */
}

.recommendation-item p {
  margin: 10px 0;
}

.recommendation-item ul {
  list-style-type: none;
  padding: 0;
}

.recommendation-item li {
  margin-bottom: 10px;
}

.recommendation-item a {
  color: #007bff;
  text-decoration: none;
}

.recommendation-item a:hover {
  text-decoration: underline;
}
