.emergency-heading {
    font-size: xx-large;
    margin: 10px;
    text-decoration: underline;
    font-weight: bolder;

}

.subheading-emergency {
    font-size: x-large;
    font-weight: bolder;
    line-height: 3.5;
}

.emergency-background {
    background-image: url(./Cover.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.emergency-content {
    background-color: white;
    padding: 30px;
    padding-bottom: 10px;
    margin: 50px;
    width: 94%;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.emergency-info {
    background-color: rgb(208, 208, 208);
    position: relative;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-size: cover;
    width: 100%;
    height: 77vh;
    overflow: hidden;
    margin-top: 0px;
}